@use '../styles/variables' as *;

.contador-locais {
    display: flex;
    align-items: center;
    z-index: 999;
    cursor: pointer;

    &__display {
        background-color: $azul;
        padding: 8px 16px 8px 24px;
        border-radius: 0px 16px 16px 0px;
        transform: translateX(-16px);
        color:#fff;
        font-weight: 700;
    }

    svg {
        z-index: 2;
    }
}

.contador-page-mapa {
    position: fixed;
    top: 24px;
    left: 16px;
}

.contador-page-padrao {
   padding-left: 16px;
}